<div class="edit-form-container">
  <h2>ユーザー情報更新</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nickname, "ニックネーム" %><br />
      <%= f.text_field :nickname, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>現在確認待ちのメールアドレス: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :current_password, "現在のパスワード" %> <i>(変更を保存するために必要です)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "変更を保存" %>
    </div>
  <% end %>

  <h3>アカウントの削除</h3>

  <div class="cancel-account">
    アカウントを削除しますか？<br />
    <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %>
  </div>

  <div class="logout-link">
    <%= link_to 'ログアウト', destroy_user_session_path,  data: { turbo_method: :delete } %>
  </div>

  <div class="back-link">
    <%= link_to "戻る", :back, class: 'back-button' %>
  </div>
</div>
